// Variable default


// Base type variable

weight = normal
line-height = 1.65
font-size = 112.5
font-base = 16 * (font-size/100)
font-family = serif
font-family-sans = sans-serif
font-properties = weight, line-height, font-size, font-family
serifboolean = true 
